.mainwrap{
    display: grid;
    grid-template-columns: 50fr 230fr;
}
.asidewrap{
    color: rgb(211 245 150);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 10px;
}
.inner{
    flex: 1;
}
.clients-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.leaveRoom{
    margin-top: 20px;
    
}
.downloadCode{
    margin-top: 20px;
}
                   
.logo img{
    width: 200px;
    height: 100px;
}
.btn{
    font-weight: bold;
}
.CodeMirror {
 min-height: calc(100vh - 20px); 
    font-size: 17px;
    line-height: 1;
    padding-top: 15px;
}
h4{ 
 text-align: center;
}